.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    .main-top-hr {
      margin: 0;
      padding: 0;
      width: 0.5;
      height: 100px;
      background-color: white;
      position: absolute;
    }
  
    .main-top-h3 {
      color: white;
    }
  
    .main-top-h2 {
      color: white;
    }
  }
  
  .main-mid {
    text-align: left;
  }
  
  .main-mid-wrapper {
    width: 100%;
    display: flex;
  
    .main-mid-left {
      margin: 2%;
      width: 48%;
      border: 1px solid #D8D8D8;
    }
  
    .main-mid-right {
      margin: 2%;
      width: 48%;
      border: 1px solid #D8D8D8;
    }
  }
  
  .main-bot-h2 {
    text-align: left;
  }
  
  .main-bot-wrapper {
    display: flex;
  
    .main-bot-left {
      width: 65%;
      justify-content: center;
      height: 100vh;
      overflow-y: auto;
      .main-bot-left::-webkit-scrollbar {
        display: none;
    }
    }
  
    .main-bot-right {
      flex-direction: row;
      flex-wrap: wrap;
  
      .main-bot-right-wrapper {
        width: 100%;
        justify-content: center;
  
        .main-bot-right-h2 {
          margin-bottom: 0;
        }
  
        .main-bot-right-1 {
          margin: 0 4% 0 4%;
          width: 110%;
          border: 1px solid #D8D8D8;
        }
  
        .main-bot-right-2 {
          margin: 0 4% 0 4%;
          width: 110%;
          border: 1px solid #D8D8D8;
        }
      }
    }
  }
