@media all and (min-width: 1024px) {
  .input-forms {

    input{
      width: 20vw;
      // margin-left: 10px;
    }
    .input-label{
      font-size: 15px;
    }
  }

}
@media all and (max-width: 1024px) {
  .input-forms {

    input{
      width: 18vw;
    }
    .input-label{
      font-size: 13px;
    }
  }
}

@media all and (max-width: 768px) {
  .input-forms {

    input{
      width: 15vw;
    }
    .input-label{
      font-size: 13px;
    }
  }
}



.signup-wrapper {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    border-radius: 3%;
    width: 100%;
    background-image: url("../../../../public/img/paper-background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .input-forms {
    margin-block: 3%;
    margin-left: 10%;
    display: grid;
    align-items: center;
    border-radius: 15px;
    width: 80%;
    height: 80%;

    .input-forms-item {      
      margin-top: 3%;
      padding: 5px 0;
      display: flex;
      justify-content: space-between;
    }
    .input-label {
      margin-right: 15%;
      margin-left: 10px;
      // font-size: 15px;
      font-weight: bold;
      color: #000000;
    }

    .error-message {
      font-size: 13px;
      text-align: start;
      margin-left: 10px;
      color: red;
      font-weight: bold;
    }
  }
}

.Typography-bold {
  font-weight: bold;
  font-size: 13px;
  color: black;
}


.membership-check {
  display: flex;
  align-items: center;
}

.input-combo{
  display: flex;
  justify-content: start;
  margin-top: 20px;
}

.input-datepicker{
  display: flex;
  justify-content: start;
  margin-top: 25px;
}

.submit-button{
  margin-block: 15px;
  display: flex;
  justify-content: center;
}

