.company-main {
    .MuiBox-root:first-child {
      display: flex;
      width: 100%;
      border-radius: 40px;
      height: 150px;
      align-items: center;
      justify-content: center;
      h2 {
        color: white;
      }
      h3 {
        color: white;
      }
    }
    
    .MuiBox-root:last-child {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }